alias nv=nvim
alias vim=nvim
alias ls='ls --color=auto'
alias grep='grep --color=auto'
# alias op='nvim ~/.bashrc'
alias op='nvim ~/.zshrc'
alias ndir='cd ~/.config/nvim/'
alias cdir='cd ~/munee/source/repos/coding/'
alias course='nv ~/munee/source/repos/coding/3/Angular\ and\ Dotnet/'
alias oa='nv ~/.aliases'
alias npmi='npm i'
alias yayi='yay -S --noconfirm'
alias yayif='yay -Sy --noconfirm'
alias yayr='yay -Rns --noconfirm'
alias yayrf='yay -Rnssd --noconfirm'
alias yayu='yay -Sy'
alias yayuu='yay -Syu'
alias yayuuf='yay -Syyuu'
alias bri='brew install'
alias coi='composer require'
alias ef='dotnet ef'
alias dt='dotnet'
alias dtr='dotnet run'
alias dtw='dotnet watch --no-hot-reload'
alias dtg='dotnet aspnet-codegenerator'
alias ngs='ng serve'
alias rlp='source ~/.zshrc'
alias cls='clear'
alias cl='clear'
alias q='exit'
alias wq='exit'
alias wqa='exit'
alias :q='exit'
alias :wq='exit'
alias :qa='exit'
alias :wqa='exit'
alias tmx='tmux new -t'
alias nf='touch'
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias ngnp="ng new"
alias oe='nvim ~/.exports'
alias ngc="ng g c"
alias tmxa="tmux attach"
alias kdir='cd ~/.config/kitty/'
alias "c."="code ."
