export LARAVEL="/home/muneeb/vendor/laravel/installer/bin"
export BREWDIR="/home/linuxbrew/.linuxbrew/bin"
# export DOTNET_ROOT="/home/linuxbrew/.linuxbrew/opt/dotnet/libexec"
export DOTNET_ROOT="/usr/share/dotnet"
export GEM_PATH="/home/muneeb/.local/share/gem/ruby/3.0.0/bin"
export CARGO_PATH="/home/muneeb/.cargo/bin"
export PATH="$PATH:$BREWDIR:$LARAVEL:$GEM_PATH:$CARGO_PATH"
export POSH_THEMES_PATH="$(brew --prefix oh-my-posh)/themes"
