[submodule "/home/muneeb/.config/kitty"]
	path = /home/muneeb/.config/kitty
	url = https://github.com/muneebusmani/kitty
[submodule "/home/muneeb/.config/nvim"]
	path = /home/muneeb/.config/nvim
	url = https://github.com/muneebusmani/nvim
[submodule "/home/muneeb/.config/neofetch"]
	path = /home/muneeb/.config/neofetch
	url = https://github.com/muneebusmani/neofetch
[submodule "/home/muneeb/.config/rofi"]
	path = /home/muneeb/.config/rofi
	url = https://github.com/muneebusmani/rofi
[submodule "/home/muneeb/.config/bat"]
	path = /home/muneeb/.config/bat
	url = https://github.com/muneebusmani/bat
[submodule "/home/muneeb/.config/kvantum"]
	path = /home/muneeb/.config/kvantum
	url = https://github.com/muneebusmani/kvantum
[submodule "/home/muneeb/home/muneeb/zsh/plugins"]
	path = /home/muneeb/home/muneeb/zsh/plugins
	url = https://github.com/muneebusmani/plugins
[submodule "/home/muneeb/.config/i3"]
	path = /home/muneeb/.config/i3
	url = https://github.com/muneebusmani/i3
